html, body {
    padding-top: 25px;
}

.find-recommendation-panel {
    /*width: 750px;*/
    /*height: 600px;*/
}

.predicted-recommendation-panel {
    /*width: 1000px;*/
    /*height: 600px;*/
}

.switch-toggle label.selected {
    color: white;
}

.recommendation-map-marker img {
    background-color: white;
    padding: 5px;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    border: 2px solid #337ab7;
}

.loading-icon-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(0,0,0,.4);
}

.loading-icon-wrapper {
    text-align: center;
    width: 100%;
    height: 100%;
}

